$primary_1: #a2b9bc;
$darkPC: #320247;
$superdarkPC: #1c011c;
$brightPC: #461678;
$supertbrightPC: #6a1678;
$lightstarC: #fefecd;
$starC: #feec5b;
$darkstarC: #fe7a39;
$greenSD: #021b02;
$greenD: #034801;
$green: #057d03;
$greenL: #07a004;
$greenSL: #08c605;
