---
import Layout from "../layouts/Layout.astro";
import Tw_test from "../components/tw_test";
import PocketBase from "pocketbase";
import { server_name } from "../api";

const pb = new PocketBase(server_name);
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="text-white">html серверный</div>
    <button type="submit" id="text2" class="animate-[wgw_3s]">
      Delete all</button
    >
  </main>

  <style></style>
</Layout>
