---
import Layout from "../layouts/Layout.astro";
import Tw_test from "../components/tw_test";
---

<Layout title="Welcome to Astro.">
  <main>
    <Tw_test client:load />

    <button type="submit" id="text2" class="animate-[wgw_3s]">
      Delete all</button
    >
  </main>

  <style>
    #text {
      animation: 3s multicolor1;
    }
    @keyframes multicolor1 {
      0% {
        color: #000;
      }
      33% {
        color: #ff0000;
      }
      66% {
        color: #0000ff;
      }
      100% {
        color: #fff;
      }
    }
  </style>
</Layout>
