---
import Layout from "../layouts/Layout.astro";
import Tw_test from "../components/tw_test";
export const prerender = true;

let a = false;
if (a) {
  return Astro.redirect("/lofin");
}

const timea = Date.now();
console.log("log серверный снаружи", timea);
---

<Layout title="Welcome to Astro.">
  <main>
    <Tw_test client:load />
    <div class="text-white">html серверный {timea}</div>
    <button type="submit" id="text2" class="animate-[wgw_3s]">
      Delete all</button
    >
  </main>

  <style>
    #text {
      animation: 3s multicolor1;
    }
    @keyframes multicolor1 {
      0% {
        color: #000;
      }
      33% {
        color: #ff0000;
      }
      66% {
        color: #0000ff;
      }
      100% {
        color: #fff;
      }
    }
  </style>
</Layout>
