---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<nav class="navbar">
  <div class="navbar-container">
    <a href="#" class="main-logo">
      <img src="/logo.ico" class="logo-img" alt="Training Logo" />
      <span class="logo-text">Training</span>
    </a>

    <div class="nav-block">
      <ul class="">
        <li>
          <a class={currentPath === "" ? "active" : ""} href="/">Home</a>
        </li>

        <li>
          <a class={currentPath === "training" ? "active" : ""} href="/training"
            >Training</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<style lang="scss">
  @import "../styles/variables";
  .navbar {
    position: fixed;
    top: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 100%;
    background-image: linear-gradient(to right, $greenD, $greenL);
    border-color: #e5e7eb;
  }
  .navbar-container {
    width: 90%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .main-logo {
    display: flex;
    align-items: center;
  }
  .logo-img {
    margin-right: 0.75rem;
    height: 2.5rem;
  }
  .logo-text {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    white-space: nowrap;
    align-self: center;
    color: $starC;
    text-shadow: 1px 0 10px $starC;
  }
  .nav-block {
    display: block;
    width: auto;
    ul {
      display: flex;
      a {
        display: block;
        padding: 0;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0.75rem;
        padding-right: 1rem;
        border-radius: 0.25rem;

        color: $darkstarC;

        :hover {
          color: $lightstarC;
        }
      }
      a.active {
        color: $starC;
        text-shadow: 1px 0 10px $starC;
      }
    }
  }
</style>
