---
import LogoutButton from "./logoutButton";

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<nav
  class="z-50 fixed top-0 w-full px-2 bg-gradient-to-r from-cooBlackOlive via-cooDrabDarkBrown to-cooDarkMossGreen border-gray-200"
>
  <div class="container flex flex-wrap items-center justify-between mx-auto">
    <a href="/" class="flex items-center">
      <img src="/logo.ico" class="h-10 mr-3 m-1" alt="Training Logo" />
      <span
        class="text-shadow shadow-cooTimberWolf self-center text-xl font-semibold whitespace-nowrap text-cooTimberWolf"
        >Training</span
      >
    </a>

    <div class="block w-auto">
      <ul class="flex rounded-lg flex-row mt-0 text-sm font-medium mborder-0">
        <li>
          <a
            href="/"
            class={(currentPath === ""
              ? "text-cooTimberWolf text-shadow shadow-cooTimberWolf "
              : "text-cooTimberWolf ") +
              "block py-2 pl-3 pr-4 rounded hover:text-shadow shadow-cooTimberWolf p-0"}
            >Home</a
          >
        </li>

        <li>
          <a
            href="/training"
            class={(currentPath === "training"
              ? "text-cooTimberWolf text-shadow shadow-cooTimberWolf "
              : "text-cooTimberWolf ") +
              "block py-2 pl-3 pr-4 rounded hover:text-shadow shadow-cooTimberWolf p-0"}
            >Training</a
          >
        </li>
      </ul>
    </div>
    <LogoutButton client:load />
  </div>
</nav>
