---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<nav
  class="fixed top-0 w-full px-2 bg-gradient-to-r from-darkPC via-brightPC to-supertbrightPC border-gray-200"
>
  <div class="container flex flex-wrap items-center justify-between mx-auto">
    <a href="#" class="flex items-center">
      <img src="/logo.ico" class="h-10 mr-3" alt="Training Logo" />
      <span
        class="text-shadow shadow-starC self-center text-xl font-semibold whitespace-nowrap text-starC"
        >Training</span
      >
    </a>

    <div class="block w-auto">
      <ul
        class="flex p-4 mt-4 rounded-lg flex-row space-x-8 mt-0 text-sm font-medium mborder-0"
      >
        <li>
          <a
            href="/"
            class={(currentPath === ""
              ? "text-starC text-shadow shadow-starC "
              : "text-darkstarC ") +
              "block py-2 pl-3 pr-4 rounded hover:text-lightstarC p-0"}>Home</a
          >
        </li>

        <li>
          <a
            href="/training"
            class={(currentPath === "training"
              ? "text-starC text-shadow shadow-starC "
              : "text-darkstarC ") +
              "block py-2 pl-3 pr-4 rounded hover:text-lightstarC p-0"}
            >Training</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
